
html,body {
	margin: 0;
	padding: 0;
    height: 100%;
	background: url("photos/daniel-southerland-iV46Jo-LlGE-unsplash.jpg");
    background-size: cover;
    background-position: center;
	font-family: sans-serif;
}

.loginbox {
	width: 320px;
	height: 510px;
	background: black;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
    opacity: 0.8;
}

.sweet {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(46% - 50px);
}

h1 {
	margin: 0;
	color: red;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p {
	margin: 0;
	padding:0;
	font-weight:400;
}

.loginbox input {
	width: 100%;
	margin-top:-5px;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #4cd137;
	background: transparent;
	outline: none;
	height: 40px;
	color: #d1d8e0;
	font-size: 16px;
}

.loginbox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
    text-decoration: none;
    color:green;
    
}
.loginbox a:hover {
	color: #ffc107;
}

#msg{
    margin-top:0;
    display: block;
    width: 100%;
    text-align: center;
    background: red;
    color:#fff; 
    font-weight: 600;
}
#l1{
    text-align: center;
    margin-top:-5px;
    font-weight: normal;
}
